/* Table View Responsive Design */
@media only screen and (min-width: 576.1px) and (max-width: 940px) {
  /* Responsive Nav Button Code */
  nav {
    display: block;
    display: flex;
    width: 92%;
  }
  .menu-btn {
    display: block;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul {
    display: block;
  }
  nav ul {
    position: fixed;
    background-color: rgb(3, 69, 168);
    top: 80px;
    left: -100%;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    transition: all 0.5s ease;
  }
  nav ul li {
    margin: 50px 0;
    text-align: center;
  }
  nav ul li a {
    font-size: 22px;
    color: white;
  }
  /* Responsive Nav Button Code */
  /* Quick List Section Code Start Here */
  #quick-list-container {
    width: 80%;
    flex-direction: column;
  }
  .quick-list-images,
  .quick-list-text {
    width: 90%;
  }
  .quick-list-images {
    margin-bottom: 50px;
  }
  /* Quick List Section Code End Here */
  /* Features Section Code Start Here */
  #features-container {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .features-text-container {
    width: 100%;
  }
  .features-single-div-container {
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
  .features-images-container {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .features-images-container button {
    right: 0;
    bottom: 20px;
    padding: 25px 35px;
  }
  /* Features Section Code End Here */
  /* Some Facts Section Code Start */
  #some-facts-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .some-facts-title {
    width: 80%;
  }
  .some-facts-card-container {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
  /* Some Facts Section Code End */
  /* Our Sponspors Section Code Start Here */
  #sponspors-container {
    width: 80%;
  }
  .sponspors-title-div {
    width: 80%;
  }
  .sponspors-logo-section {
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
  /* Our Sponspors Section Code End Here */
}

@media screen and (min-width: 940.1px) and (max-width: 1180px) {
  .some-facts-card-container {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .sponspors-title-div {
    width: 85%;
  }
  .sponspors-logo-section {
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
  }
}

/* Mobile View Responsive Design */
@media only screen and (max-width: 576px) {
  /* Responsive Nav Button Code */
  nav {
    display: block;
    display: flex;
    width: 92%;
  }
  .menu-btn {
    display: block;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul {
    display: block;
  }
  nav ul {
    position: fixed;
    background-color: rgb(3, 69, 168);
    top: 80px;
    left: -100%;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    transition: all 0.5s ease;
  }
  nav ul li {
    margin: 50px 0;
    text-align: center;
  }
  nav ul li a {
    font-size: 22px;
    color: white;
  }
  /* Responsive Nav Button Code */
  /* Banner Section Code Start */

  #banner-container {
    width: 90%;
  }
  .banner-contant {
    width: 100%;
  }
  /* Banner Section Code End */
  /* Quick List Sectin Code Start */
  #quick-list-container {
    width: 90%;
    flex-direction: column;
  }
  .quick-list-images,
  .quick-list-text {
    width: 100%;
  }
  .quick-list-images {
    margin-bottom: 50px;
  }
  /* Quick List Sectin Code End */
  /* Features Section Code Start */
  #features-container {
    flex-direction: column;
    width: 90%;
  }
  .features-text-container {
    width: 100%;
  }
  .features-images-container {
    width: 100%;
    text-align: center;
  }
  .features-images-container button {
    right: 0;
    bottom: 20px;
    padding: 25px 35px;
  }
  /* Features Section Code End */
  /* Some Facts Section Code Start */
  #some-facts-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .some-facts-title {
    width: 100%;
  }
  .some-facts-card-container {
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
  /* Some Facts Section Code End */
  /* Our Sponspors Section Code Start Here */
  #sponspors-container {
    width: 90%;
  }
  .sponspors-title-div {
    width: 100%;
  }
  .sponspors-logo-section {
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }
  /* Our Sponspors Section Code End Here */
}
