/* Reset Code Start */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Work Sans;
}
/* Reset Code End */
header {
  background-color: #fff4e7;
  padding-bottom: 30px;
}
/* Nav Section Code Start */
nav {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
nav,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-logo {
  font-size: 2rem;
  font-weight: 700;
}
#click,
.menu-btn {
  display: none;
}
.menu-btn {
  color: white;
  font-size: 22px;
  cursor: pointer;
  color: #424242;
}
ul li {
  list-style: none;
  padding-left: 15px;
}
ul li a:hover {
  background-color: #1e90ff;
  color: white;
}
ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #424242;
  padding: 10px 15px;
  border-radius: 5px;
}
/* Nav Section Code End */
/* Banner Section Code Start Here */
#banner-container {
  width: 80%;
  margin: 0 auto;
}
.banner-contant {
  width: 60%;
  margin: 0 auto;
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.banner-contant h2 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-contant p {
  font-size: 16px;
  font-weight: 400px;
  color: #727272;
  text-align: justify;
  margin-bottom: 30px;
}
.banner-contant button {
  padding: 12px 20px;
  background-color: #ff900e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
}
.banner-contant button:hover {
  background-color: #e29d08;
  color: #fff;
}
#banner-container img{
  width: 100%;
}
/* Banner Section Code End Here */
